<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wooridfg.api.mapper.DashboardMapper">
    <select id="getRcmdTop5" resultType="com.wooridfg.api.dto.Dashboard">
    	SELECT 'rcmd' item, B.EMP_NM name, COUNT(*) cnt, B.TITLE title, B.DPTMT dptmt
		FROM COWK_RCMD_TEST A, EMP_INFO B
		WHERE A.RCMD_EMP_NO = B.EMP_NO
		GROUP BY A.RCMD_EMP_NO
		ORDER BY cnt DESC
		LIMIT 5
    </select>
    
    <select id="getRgsTop5" resultType="com.wooridfg.api.dto.Dashboard">
    	SELECT 'rgs' item, B.EMP_NM name, COUNT(*) cnt, B.TITLE title, B.DPTMT dptmt
		FROM COWK_RGS_TEST A, EMP_INFO B
		WHERE A.RGS_EMP_NO = B.EMP_NO
		GROUP BY A.RGS_EMP_NO
		ORDER BY cnt DESC
		LIMIT 5
    </select>
    
     <select id="getDptmtCnt" resultType="com.wooridfg.api.dto.Dashboard">
    	SELECT 'dptmt' item, B.DPTMT dptmt, COUNT(*) cnt
		FROM COWK_RCMD_TEST A, EMP_INFO B
		WHERE A.RCMD_EMP_NO = B.EMP_NO
		GROUP BY B.DPTMT
		ORDER BY cnt DESC
    </select>
</mapper>