<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wooridfg.api.mapper.EmpMapper">
    <select id="getAll" resultType="com.wooridfg.api.dto.EmpInfo">
        SELECT EMP_NO empNo, EMP_NM empNm, TITLE, DPTMT 
          FROM EMP_INFO
    </select>
    
    <select id="getByEmpnm" resultType="com.wooridfg.api.dto.EmpInfo">
        SELECT EMP_NO empNo, EMP_NM empNm, TITLE, DPTMT
          FROM EMP_INFO
         WHERE EMP_NM LIKE CONCAT('%',#{empNm},'%')
    </select>
    
     <select id="validationEmpno" resultType="String">
        SELECT CASE COUNT(*) WHEN 0 THEN 'N' ELSE 'Y' END AS YN
		FROM EMP_INFO
		WHERE EMP_NO = #{empNo}
    </select>
    
     <select id="validationLogin" resultType="String">
        SELECT CASE COUNT(*) WHEN 0 THEN 'N' ELSE 'Y' END AS YN
		FROM EMP_INFO
		WHERE EMP_NO = #{empNo}
		AND EMP_NM = #{empNm}
		AND USE_YN = 'Y'
    </select>
</mapper>